.form-div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;
}

// .form-groups-div {
//   display: flex;
//   flex-direction: column;
//   align-items: left;
//   gap: 20px;
// }
